Debug
Release
_release/bin
_release/cfg/blitzide.ini
_release/temp
_release/userlibs
_release/Blitz3D.exe
_release/*.bb
_release/*.ttf
*.exe
*.dll
*.pdb
*.ilk
*.aps
*.bb_bak1
.vs
*/objs/*